header {
   position: relative;
   width: 100%;
   min-height: auto;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-position: center;
   background-image: url('../img/bolhas.jpg');
   text-align: center;
   color: white;
   margin-top: -20px;
 }
 header .header-content {
   position: relative;
   text-align: center;
   padding: 100px 15px 100px;
   width: 100%;
 }
 .header-content {
    position: relative;
    text-align: center;
 }
 .div-container-color{
   background-color: #02719f;
 }
 .img-icon{
      width: 25%;
      border: 14px solid #eeeeee4f;;
      border-radius: 100%;
  }
  header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  text-align: center;
}
.h3-height{
  height: 85px;
}
@media (min-width: 768px) {
   header {
     min-height: 100%;
     text-align: center;
   }
   header .header-content {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     padding: 0 50px;
     text-align: center;
   }
   header .header-content .header-content-inner {
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding-top: 93px;
  }
   header .header-content .header-content-inner h1 {
     font-size: 50px;
     text-align: center;
   }
   header .header-content .header-content-inner p {
     font-size: 18px;
     max-width: 80%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
   }
 }
.text-center{
  text-align: center;
  color: #F0F8FF;
}
section{
  padding: 100;
}
hr.light {
  border-width: 4px;
  max-width: 700px;
}
.background-section{
  background-color: #02719f;
  background-size: 1200px;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-bottom: 20px;
}
.tamb-img{
  width: 100%;
  height: 266px !important;
}
.li-height-p{
  height: 100px;
}
/* Esta classe é usada para ajustar os tamanhos das imagens nos slides */
.tam-img-caroulsel{
  width: 100% !important;
  height: 590px !important;
}
.btn-gray{
  color: white;
  background-color: #78ACC0;
  border-color: #5B6777;
}
.btn-lg{
  padding: 10px 75px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.pag-img{
  float: left;
  padding-right: 400px;
  margin-right: -380px;
  margin-left: 25px;
}
.pag-header-content-inner{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 53px;
}
footer{
  margin-top: 10%;
  font-size: 15px;
}
